.form {
  max-width: 358px;
  margin: 0 auto 10px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    width: 88%;
  }
}
